.header-react {
    background-color: var(--header-dark-green);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.photo {
    justify-self: center;
    align-self: center;
    grid-column: 2 / 3;
}

.photo > img {
    border-radius: 10px;
    border: 7px solid #bef264;
    width: 200px;
    height: 200px;
}

.introduction {
    grid-column: 4 / 5;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    align-items: center; 
}

.introduction > h4 {
    font-size: 1.5rem;
}

.introduction > h1{
    font-family: monospace;
    font-size: 3rem;
}

.intro-h {
    height: 30px;
}

.forChange {
    font-family: monospace;
    font-size: 1.4rem;
    display: inline-block;
}

@media (max-width: 1800px) {
    .introduction {
        grid-column: 4 / 7;
    }
}

@media (max-width: 740px) {
    .introduction > h1 {
        font-size: 2rem;
    }

    .introduction {
        grid-column: 4 / 8;
    }

    .forChange {
        font-size: 1.2rem;
    } 
}