.main-react {
    font-size: 1.4rem;
    display: grid;
    grid-row: 100px repeat(3, 33.33%);
    background-color: var(--main-color);
    position: relative;
}

.main-About {
  margin-top: 50px;
}

#main-info {
    display: flex;
    flex-direction: column;
}

#main-info > p {
    width: 80%;
    align-self: center;
}

#main-info > h2 {
    font-size: 3rem;
    padding-left: 10%;
}

#main-info > ul {
    padding-left: 12%;
}

#main-info > ul > li {
    font-weight: bolder;
    font-family: var(--dancing-font);
    font-size: 2rem;
    list-style:symbols(cyclic "\2728");
}

.special-wave{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.special-wave svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 70px;
}

.special-wave .shape-fill {
    fill: #33BDB2;
}