* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@600&family=Righteous&display=swap');

:root {
    --anton-font: 'Anton', sans-serif;
    --dancing-font: 'Dancing Script', cursive;
    --Right-font: 'Righteous', cursive;
    --header-dark-green: #33bdb2;
    --main-color: #99f6e4;
}

html {
    width: 100%;
    height: 100%; 
}

body {
    width: 100%;
    height: 100%;
}

#root {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 25% 75% 25%;
}


